{% extends "webapp/base.html" %}

{% block title %}Web app{% endblock %}

{% block extrainport %}

<style type="text/css">

</style>

{% endblock extrainport%}

{% block content %}

<h1> <center>Detection</center> </h1> 
</br></br> 

<p> Face detection is a computer technology being used in a variety of applications that identifies human faces in digital images.
    Face detection also refers to the psychological process by which humans locate and attend to faces in a visual scene.
</p>
<p> Face detection can be regarded as a specific case of object-class detection. In object-class detection, the task is to find 
    the locations and sizes of all objects in an image that belong to a given class. Examples include upper torsos, pedestrians, and cars. 
    Face detection simply answers two question,
</p>
<p>
    1. are there any human faces in the collected images or video?
</p>
<p>
    2. where is the face located?
</p>
<p align="right"><i>"https://en.wikipedia.org/wiki/Face_detection"</i></p>


{% endblock content %}

